@font-face
{
font-family: Source;
src: url('../fonts/SourceSansPro-Light.ttf.woff');

}

@font-face
{
font-family: Sketch;
src: url('../fonts/SketchRockwell-Bold.ttf');

}

/* Handle how links are coloured */
a:link {color:#CCCCCC;}
a:visited {color:#CCCCCC;} 
a:hover {color:#888888;} 
a:active {color:#CCCCCC;}

/*Handles main background and page size */
body {
	background:url('../images/background.png');
	width: 100%;
	margin: 0 auto;	
}

/* Handles the 'Marcus Heine' and sets the correct font */
#header {
	font-family: Sketch;
	font-size: 5vw;
	text-align: center;
	color: #A0A0A0;

	margin-top: 100px;
	width: 100%;
}


/* Handle navigation social icons */
#nav {
	float: left;
	margin-left: 25px;
	margin-top: 30px;
}

	/* Handle icon coloring transition*/
	#nav a:link {
		opacity: 0.5;
		transition: opacity .3s ease-in-out;
	}

	/* When hovering over the icon, make it completely opaque */
	#nav a:hover {
		opacity: 1;
	}

/* Handles list items; since the navigation bar is made up of items */
ul
{
	list-style-type:none;
	padding:0;
}


/* Handles the main text body */
#main  {
	margin-top: 30px;
	margin-left: 2%;
	float: left;
	width: 450px;

	color: white;
	font-family: Source;
	font-size: 1.15em;
	text-align: left;

	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 3px;

	border-style: solid;
	border-width: 4px;
	border-radius: 10px;
}


/* Ensure space between icons in the list*/
li.social_icons { margin-bottom: 16px; }

/* Handles portrait image */
#portrait {
	max-height: 325px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	color: #444444;
}



footer
{
	width: inherit;
	color: #BBBBBB;
	font-size: 14px;
	bottom: 0;
	position: fixed;
	text-align: center;
}

/* Mobile */

@media screen and (max-width: 1000px) {
	#container {
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	#nav {
		display: inline-block;
    	text-align: center;
    	margin:10px auto;
    	float: none;
    	width: 90%;
    }

    ul {
    	display: inline;
    }

    li {
    	display: inline;
    	margin-left: 2%;
    	margin-right: 2%;
    }

     #portrait {
    	display: inline-block;
    	text-align: center;
    	margin: 0px auto;
    	width: 100%;
    }

    #portrait  img {
    	display: inline-block;
    	text-align: center;
    	margin: 20px auto;
    	float: none;
    	width: 85%;
    	padding-bottom: 20px;
    }


    #header {
    	margin: 20px auto 0px auto;
    	width: 80%;
    	text-align: center;
    }


    #main {
    	display: inline-block;
    	text-align: center;
    	float: none;
    	width: 80%;
    	margin:0px auto;
    }

    .main-text {
		display: inline-block;
		text-align: left;
		width: auto;

		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}