
body {
	background:url('../images/background.png');
	width: 1000px;
	margin: 0 auto;	
}

	
#nav {
	float: left;
	margin-left: 25px;
	margin-top: 150px;
}

	#nav a {
		opacity: 0.5;
		transition: opacity .3s ease-in-out;
	}

	#nav a:hover {	opacity: 1;	}

ul
{
	list-style-type:none;
	padding:0;
}

#main  {
	margin-top: 150px;
	margin-left: 2%;
	float: left;
}

	#main img {	opacity: 0.8; }
	
	#main img:hover {
		opacity: 1.0;
		transition: opacity .2s ease-in-out;
	}

/* Text in the main paragraph TODO maybe */
p.main {
	width: 550px;
	margin: 0 auto;
}

/* Ensure space between icons in the list*/
li.social_icons { margin-bottom: 16px; }

#portrait {
	max-height: 325px;
	float: left;
	margin-top: 153px;
	color: #444444;
}

#footer a:link {color:#222222;}      /* unvisited link */
#footer	a:visited {color:#222222;}  /* visited link */
#footer a:hover {color:#333333;}  /* mouse over link */
#footer a:active {color:#222222;}  /* selected link */

footer
{
	width: inherit;
	color: #222222;
	font-size: 12px;
	bottom: 0;
	position: fixed;
	text-align: center;
}

	footer a:link {color:#222222;}      /* unvisited link */
	footer	a:visited {color:#222222;}  /* visited link */
	footer a:hover {color:#333333;}  /* mouse over link */
	footer a:active {color:#222222;}  /* selected link */